{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                
            {% endblock title %}                
        </title>
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
        <script src="{% static 'js/myjs.js' %}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="main">
            <div id="hh">
                <h1 id="hdr">Check Air Quality</h1>
                <span id="sp">

                   
                    
                  

                    <a href="{% url 'search' %}" style="color: aliceblue"> Search</a>&nbsp;&nbsp;&nbsp;
                    <a style="color: aliceblue" href="{% url 'about' %}"> Home</a>&nbsp;&nbsp;&nbsp;
                    
                  <!-- <a href="{% url 'contact' %}" style="color: aliceblue"> Contact Us</a>&nbsp;&nbsp;&nbsp;
                   
                   <a href="{% url 'feedback' %}" style="color: aliceblue"> Feedback</a>&nbsp;&nbsp;&nbsp;
                   -->
                  
                   
                </span>
            </div>
            {% block content %}

            
            {% endblock content %}

          
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    </body>
</html>